%nav.navbar.navbar-fixed-bottom.navbar-inverse{role: "navigation"}
  .navbar-header
    %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to 'StudioCuicui', root_path, class:'navbar-brand'
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li
        = link_to 'Portofolio', 'portofolio.html'
      %li
        = link_to 'publications', 'publications.html'
      %li
        = link_to 'Les photographes', 'photographes.html'
      %li
        = link_to 'Contact', 'mailto:contact@studiocuicui.com'
